/* .c_box{
    height: 500px;
}
.cb_box{
    background-image: url('../assets/luxroom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
} */

/* styles.css */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../assets/luxroom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* background-color: #f8f9fa; */
     /* Optional: Add a background color for better visibility */
  }
  .containerr{
    background-color: #008B8B;
    height: 500px;
    width: 600px;
  }
  .btnn{
    margin-left: 70%;
  }
  